:root {
    font-size: 62.5%;
    --Roxo-Escuro:#1c1c2b;
    --Verde-Claro:#bdff00;
    --Verde-Escuro:#558028;
    --Branco:#ffffff;
    --Preto:black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-height: 100vh;
    /*background: rgb(85,128,40);*/
    background-color: #1d1929;
    background: linear-gradient(90deg, rgba(85,128,40,1) 6%, rgba   (182,222,62,1) 35%, rgba(85,128,40,1) );
    color: var(--Branco);
}

/*-----ÁREA DE CABEÇALHO-----*/

img {
    width: 200px;
}

nav {
    padding: 2rem 5rem 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    font-size: 2rem;
}

/* CORPO BOTÃO DE BAIXAR CONTRATO */

.cta {
    width: 200px;
    font-weight: bold;
    display: flex;
    padding: 11px 30px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 15px;
    color: var(--Roxo-Escuro);
    background: var(--Verde-Claro);
    transition: .3s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
}
  
.cta:focus {
    outline: none;
}
  
.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var(--Verde-Escuro);
}
  
.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}
  
.cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
}
  
.span {
    transform: skewX(15deg);
}
  
.second {
    margin-left: 30px;
    position: relative;
    top: 12%;
    transform: rotate(87deg);
    
}
  
.one {
    transition: 0.4s;
    transform: translateX(-60%);
    
}
  
.two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}
  
.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
@keyframes color_anim {
    0% {
      fill: var(--Roxo-Escuro);
    }
  
    50% {
      fill: var(--Verde-Claro);
    }
  
    100% {
      fill: var(--Verde-Escuro);
    }
}


/*-----CORPO-----*/

#titulo h1{
    font-size: 50px;
    padding: 25px;
}

#btnContratos button{
    padding: 30px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    border: none;
    margin: 100px 25px 0;
    background-repeat: no-repeat;
    background-position: center;
    


    transition: transform .3s;
    transform: translatex(5) scale(1.1)
}

#btnContratos button:hover {
    transform: translateX(6px) scale(1.2);
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--Verde-Claro);
}

a{
    text-decoration: none;
    color: var(--Roxo-Escuro);
}

/* CORPO - BOTÕES */

#inbtnWtpm{
    background-image: url(./assets/watchParamont-nw.png);
}

#inbtnIp{
    background-image: url(./assets/infotecPlay_.png);
    
}

#inbtnHbom{
    background-image: url(./assets/hboMax.png);
}

#inbtnIt{
    background-image: url(./assets/infotecTelecon_.png);
   
}

/* Responsividade */

@media screen and (max-width: 600px) {
    img{ /*Logo infotec */
        width: 125px;
      
    }

    body{
        display: grid;
    }

    .cta{
        /*margin-left: 25px;*/
        width: 175px;
        margin: 0 75px 0 25px;
    }

    #titulo h1 {
        font-size: 40px;
        margin-left: -5px;
    }

    #btnContratos {
        margin: auto;
    }
    
    #btnContratos button{
        margin-top: 55px;
    }

}
